---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import stats from "../data/stats.json";
import { fetchStatsOrDoNothing } from "../data/fetchStats";
---

{fetchStatsOrDoNothing()}
<Layout title="Overt">
  <div class="d-flex justify-content-center mb-4">
    <Logo size="large" />
  </div>

  <div class="content-width-constrained-strong mb-4">
    <p
      class="h4 text-center"
      style="font-size: 1.4rem; line-height: 1.5; margin-top: 2.5rem; margin-bottom: 2.5rem"
    >
      Explore, install, and manage your favourite software<br />
      with a free and open app store for macOS
    </p>

    <div class="row">
      <div class="col-12 col-lg-6">
        <p class="h5 text-lg-center mb-2 mb-lg-4">
          Overt <strong>doesn't</strong>:
        </p>
        <ul class="feature-list bullet-cross">
          <li>Process payments</li>
          <li>Restrict app features</li>
          <li>Remove apps arbitrarily</li>
        </ul>
      </div>

      <div class="col-12 col-lg-6">
        <p class="h5 text-lg-center mb-2 mb-lg-4">
          Overt <strong>does</strong>:
        </p>
        <ul class="feature-list bullet-checkmark">
          <li>Offer ~{(stats.appsCount).toLocaleString('en-US')} apps by default</li>
          <li>Support external catalogs</li>
          <li>1-click install/update/uninstall</li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column gap-3 flex-lg-row gap-lg-2 mt-3">
      <a class="btn btn-primary cta" href="/about"
        >About <i class="bi bi-info-circle-fill ms-1" aria-hidden="true"></i>
      </a>
      <a class="btn btn-success cta" href="/install"
        >Install <i class="bi bi-arrow-down ms-1" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <style>
    body {
      --bs-body-font-size: 1.2rem;
      min-height: 100vh;
    }

    ul.feature-list {
      list-style: none;
    }
    ul.feature-list > li {
      display: block;
      position: relative;
    }
    ul.feature-list > li::before {
      font-size: 1.6em;
      font-family: "bootstrap-icons";

      position: absolute;
      left: -1.65rem;
      top: -0.55rem;
    }
    ul.feature-list > li {
      padding-left: 0.35em;
      margin-bottom: 0.15em;
    }
    ul.bullet-cross > li::before {
      content: "\F62A";
    }
    ul.bullet-checkmark > li::before {
      content: "\F26E";
    }

    .btn.cta {
      flex: auto;
      font-size: 1rem;
      line-height: 2.2em;
    }
  </style>
</Layout>
