---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Overt">
  <img
    class="app-icon-image drop-shadow my-2 mb-3"
    src="/images/overt-app-icon.png"
    alt="Overt app icon"
  />
  <h1 class="text-center fw-bolder mb-0">Overt</h1>
  <h2 class="text-center">
    <div class="fs-5">open app store</div>
    <div class="fs-5 mt-4 mb-5">for macOS</div>
  </h2>

  <div class="content-width-constrained-strong my-4">
    <p class="text-lg-center mb-lg-4">
      Overt helps you find, install, and manage your favorite apps.
    </p>

    <div class="row">
      <div class="col-12 col-lg-6">
        <p class="text-lg-center mb-2">Overt <strong>doesn't</strong>:</p>
        <ul class="feature-list bullet-cross">
          <li>Restrict app features</li>
          <li>Process payments</li>
        </ul>
      </div>

      <div class="col-12 col-lg-6">
        <p class="text-lg-center mb-2">Overt <strong>does</strong>:</p>
        <ul class="feature-list bullet-checkmark">
          <li>Give you a catalog of 3,000+ apps at your fingertips</li>
          <li>Install, update, and uninstall apps with a single click</li>
          <li>Let you add your own source repositories</li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column gap-3 flex-lg-row gap-lg-2 mt-3">
      <a class="btn btn-primary" href="/about"
        >About <i class="bi bi-info-circle-fill ms-1" aria-hidden="true"></i>
      </a>
      <a class="btn btn-success" href="/install"
        >Install <i class="bi bi-arrow-down ms-1" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <style>
    body {
      --bs-body-font-size: 1.2rem;
    }

    ul.feature-list {
      list-style: none;
    }
    ul.feature-list > li {
      display: block;
      position: relative;
    }
    ul.feature-list > li::before {
      font-size: 1.6em;
      font-family: "bootstrap-icons";

      position: absolute;
      left: -1.65rem;
      top: -0.55rem;
    }
    ul.feature-list > li {
      padding-left: 0.35em;
      margin-bottom: 0.15em;
    }
    ul.bullet-cross > li::before {
      content: "\F62A";
    }
    ul.bullet-checkmark > li::before {
      content: "\F26E";
    }

    .btn {
      display: block;
      margin: auto;

      width: 67%;
      height: 3.2em;
      font-size: 1rem;
      line-height: 2.2em;
    }
  </style>
</Layout>
